In [1]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

In [2]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table", "view");

Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table'),
 ('c_count', 'view')]

In [3]:
%%sql
SELECT *
FROM customer
LIMIT 5

Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5),
 (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3),
 (4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)]

In [4]:
%%sql
WITH totalnumber AS
    (SELECT COUNT(*) total
     FROM invoice_line il
     LEFT JOIN invoice i ON i.invoice_id=il.invoice_id
     WHERE i.billing_country = "USA"
    )

SELECT
    g.name genre,
    COUNT(*) number,
    ROUND(CAST(COUNT(*) AS FLOAT) / totalnumber.total * 100,2) percentage
FROM invoice_line il, totalnumber
LEFT JOIN invoice i ON i.invoice_id=il.invoice_id
LEFT JOIN track t ON t.track_id=il.track_id
LEFT JOIN genre g ON g.genre_id=t.genre_id
WHERE i.billing_country="USA"
GROUP BY 1

Done.

[('Alternative', 35, 3.33),
 ('Alternative & Punk', 130, 12.37),
 ('Blues', 36, 3.43),
 ('Classical', 4, 0.38),
 ('Easy Listening', 13, 1.24),
 ('Electronica/Dance', 5, 0.48),
 ('Heavy Metal', 3, 0.29),
 ('Hip Hop/Rap', 20, 1.9),
 ('Jazz', 14, 1.33),
 ('Latin', 22, 2.09),
 ('Metal', 124, 11.8),
 ('Pop', 22, 2.09),
 ('R&B/Soul', 53, 5.04),
 ('Reggae', 6, 0.57),
 ('Rock', 561, 53.38),
 ('Soundtrack', 2, 0.19),
 ('TV Shows', 1, 0.1)]

Rock genre sold more than 50% of all tracks in USA.

In [5]:
%%sql
SELECT
    ar.name artist,
    COUNT(il.invoice_id) number_of_tracks
FROM invoice_line il
LEFT JOIN track t ON t.track_id=il.track_id
LEFT JOIN genre g ON g.genre_id=t.genre_id
LEFT JOIN album al ON al.album_id=t.album_id
LEFT JOIN artist ar ON ar.artist_id=al.artist_id
WHERE g.name = "Rock"
GROUP BY 1
ORDER BY 2 DESC
LIMIT 3

Done.

[('Queen', 192), ('Jimi Hendrix', 187), ('Nirvana', 130)]

Top 3 artists with most tracks from Rock sold are...  
1. Queen  
2. Jimi Hendrix   
3. Nirvana

In [6]:
%%sql
WITH employee_sales AS
(
    SELECT
        e.employee_id,
        e.hire_date,
        e.title,
        ROUND(SUM(i.total),2) total_sales
    FROM employee e
    LEFT JOIN customer c ON c.support_rep_id=e.employee_id
    LEFT JOIN invoice i ON i.customer_id=c.customer_id
    GROUP BY 1
    HAVING total_sales != 0
    ORDER BY 4 DESC
)

SELECT 
    e.first_name || " " || e.last_name Name,
    e.hire_date,
    es.total_sales
FROM employee e
INNER JOIN employee_sales es ON es.employee_id=e.employee_id

Done.

[('Jane Peacock', '2017-04-01 00:00:00', 1731.51),
 ('Margaret Park', '2017-05-03 00:00:00', 1584.0),
 ('Steve Johnson', '2017-10-17 00:00:00', 1393.92)]

The total sales seems correlated with hire date where the earlier the employee started to work there, the greater total sales the employee made.

In [7]:
%%sql

SELECT
    c.customer_id,
    c.country,
    i.invoice_id,
    i.total
FROM customer c
INNER JOIN invoice i ON i.customer_id=c.customer_id
ORDER BY 1
LIMIT 5

Done.

[(1, 'Brazil', 16, 8.91),
 (1, 'Brazil', 77, 5.9399999999999995),
 (1, 'Brazil', 149, 8.91),
 (1, 'Brazil', 153, 13.86),
 (1, 'Brazil', 182, 5.9399999999999995)]

In [8]:
%%sql
WITH

country_other_table AS
(
    SELECT
        country,
        COUNT(DISTINCT customer_id),
        CASE
            WHEN COUNT(DISTINCT customer_id)=1
                THEN 1
                ELSE 0
            END AS country_other
    FROM customer
    GROUP BY 1
),

country_2_table AS
(
    SELECT
        country,
        CASE
            WHEN country_other = 1
                THEN "Other"
                ELSE country
            END AS country2,
        country_other
    FROM country_other_table
),

all_cus AS
(
    SELECT
        c.customer_id,
        c2t.country2,
        i.invoice_id,
        i.total,
        c2t.country_other
    FROM customer c
    LEFT JOIN country_2_table c2t ON c2t.country=c.country
    LEFT JOIN invoice i ON i.customer_id=c.customer_id
)

SELECT
    country2 country,
    COUNT(DISTINCT customer_id) num_of_customers,
    ROUND(SUM(total),2) total_sales,
    ROUND(SUM(total)/COUNT(DISTINCT customer_id),2) avg_per_cus,
    ROUND(SUM(total)/COUNT(DISTINCT invoice_id),2) avg_per_ord
FROM all_cus
GROUP BY 1
ORDER BY country_other

Done.

[('Brazil', 5, 427.68, 85.54, 7.01),
 ('Canada', 8, 535.59, 66.95, 7.05),
 ('Czech Republic', 2, 273.24, 136.62, 9.11),
 ('France', 5, 389.07, 77.81, 7.78),
 ('Germany', 4, 334.62, 83.65, 8.16),
 ('India', 2, 183.15, 91.57, 8.72),
 ('Portugal', 2, 185.13, 92.56, 6.38),
 ('USA', 13, 1040.49, 80.04, 7.94),
 ('United Kingdom', 3, 245.52, 81.84, 8.77),
 ('Other', 15, 1094.94, 73.0, 7.45)]

In [9]:
%%sql

WITH
invoice_track AS
(
    SELECT 
        il.invoice_id,
        il.track_id,
        t.album_id
    FROM invoice_line il
    LEFT JOIN track t ON t.track_id=il.track_id    
)
SELECT
    it.invoice_id,
    CASE
        WHEN
            (SELECT track_id FROM invoice_line WHERE invoice_id=it.invoice_id
             EXCEPT
             SELECT track_id FROM track WHERE album_id=it.album_id) IS NULL
            AND
            (SELECT track_id FROM track WHERE album_id=it.album_id
             EXCEPT
             SELECT track_id FROM invoice_line WHERE invoice_id=it.invoice_id) IS NULL
            THEN 1
            ELSE 0
            END AS album_purchase
FROM invoice_track it
GROUP BY 1

Done.

[(1, 1),
 (2, 0),
 (3, 0),
 (4, 0),
 (5, 1),
 (6, 0),
 (7, 0),
 (8, 0),
 (9, 0),
 (10, 0),
 (11, 0),
 (12, 0),
 (13, 0),
 (14, 0),
 (15, 0),
 (16, 0),
 (17, 0),
 (18, 0),
 (19, 0),
 (20, 0),
 (21, 0),
 (22, 0),
 (23, 1),
 (24, 1),
 (25, 0),
 (26, 0),
 (27, 0),
 (28, 0),
 (29, 0),
 (30, 0),
 (31, 1),
 (32, 1),
 (33, 0),
 (34, 0),
 (35, 0),
 (36, 0),
 (37, 0),
 (38, 0),
 (39, 0),
 (40, 0),
 (41, 0),
 (42, 0),
 (43, 0),
 (44, 1),
 (45, 0),
 (46, 1),
 (47, 0),
 (48, 0),
 (49, 0),
 (50, 0),
 (51, 0),
 (52, 1),
 (53, 0),
 (54, 1),
 (55, 0),
 (56, 1),
 (57, 0),
 (58, 0),
 (59, 0),
 (60, 0),
 (61, 1),
 (62, 0),
 (63, 0),
 (64, 1),
 (65, 0),
 (66, 0),
 (67, 0),
 (68, 0),
 (69, 1),
 (70, 0),
 (71, 1),
 (72, 0),
 (73, 1),
 (74, 0),
 (75, 0),
 (76, 1),
 (77, 0),
 (78, 0),
 (79, 1),
 (80, 0),
 (81, 0),
 (82, 0),
 (83, 0),
 (84, 1),
 (85, 0),
 (86, 0),
 (87, 0),
 (88, 0),
 (89, 0),
 (90, 1),
 (91, 0),
 (92, 1),
 (93, 0),
 (94, 0),
 (95, 0),
 (96, 0),
 (97, 0),
 (98, 0),
 (99, 1),
 (100, 0),
 (101, 0),
 (102, 0),
 (103, 0),
 (104, 0),
 (105, 0),
 (106, 0),
 (107, 0),
 (108, 0),
 (109, 0),
 (110, 0),
 (111, 0),
 (112, 1),
 (113, 0),
 (114, 1),
 (115, 0),
 (116, 0),
 (117, 0),
 (118, 0),
 (119, 0),
 (120, 0),
 (121, 0),
 (122, 0),
 (123, 1),
 (124, 0),
 (125, 0),
 (126, 0),
 (127, 0),
 (128, 0),
 (129, 0),
 (130, 0),
 (131, 0),
 (132, 0),
 (133, 0),
 (134, 0),
 (135, 0),
 (136, 0),
 (137, 0),
 (138, 1),
 (139, 0),
 (140, 0),
 (141, 1),
 (142, 1),
 (143, 0),
 (144, 0),
 (145, 0),
 (146, 1),
 (147, 0),
 (148, 0),
 (149, 0),
 (150, 0),
 (151, 0),
 (152, 0),
 (153, 1),
 (154, 0),
 (155, 0),
 (156, 1),
 (157, 1),
 (158, 0),
 (159, 0),
 (160, 0),
 (161, 0),
 (162, 0),
 (163, 0),
 (164, 0),
 (165, 0),
 (166, 0),
 (167, 0),
 (168, 0),
 (169, 0),
 (170, 0),
 (171, 1),
 (172, 0),
 (173, 1),
 (174, 0),
 (175, 1),
 (176, 0),
 (177, 0),
 (178, 1),
 (179, 0),
 (180, 0),
 (181, 0),
 (182, 0),
 (183, 1),
 (184, 1),
 (185, 0),
 (186, 0),
 (187, 0),
 (188, 1),
 (189, 0),
 (190, 0),
 (191, 0),
 (192, 0),
 (193, 0),
 (194, 0),
 (195, 0),
 (196, 1),
 (197, 0),
 (198, 0),
 (199, 0),
 (200, 1),
 (201, 1),
 (202, 0),
 (203, 0),
 (204, 0),
 (205, 1),
 (206, 0),
 (207, 0),
 (208, 0),
 (209, 0),
 (210, 0),
 (211, 0),
 (212, 1),
 (213, 1),
 (214, 0),
 (215, 0),
 (216, 0),
 (217, 0),
 (218, 0),
 (219, 0),
 (220, 0),
 (221, 0),
 (222, 0),
 (223, 1),
 (224, 0),
 (225, 0),
 (226, 0),
 (227, 0),
 (228, 0),
 (229, 0),
 (230, 1),
 (231, 0),
 (232, 0),
 (233, 0),
 (234, 0),
 (235, 0),
 (236, 0),
 (237, 1),
 (238, 0),
 (239, 0),
 (240, 0),
 (241, 0),
 (242, 0),
 (243, 0),
 (244, 0),
 (245, 0),
 (246, 0),
 (247, 1),
 (248, 0),
 (249, 0),
 (250, 0),
 (251, 0),
 (252, 0),
 (253, 1),
 (254, 0),
 (255, 0),
 (256, 0),
 (257, 1),
 (258, 0),
 (259, 0),
 (260, 0),
 (261, 0),
 (262, 1),
 (263, 0),
 (264, 0),
 (265, 0),
 (266, 0),
 (267, 0),
 (268, 0),
 (269, 0),
 (270, 0),
 (271, 1),
 (272, 0),
 (273, 1),
 (274, 0),
 (275, 0),
 (276, 1),
 (277, 0),
 (278, 0),
 (279, 0),
 (280, 1),
 (281, 1),
 (282, 0),
 (283, 0),
 (284, 1),
 (285, 0),
 (286, 0),
 (287, 0),
 (288, 0),
 (289, 0),
 (290, 0),
 (291, 0),
 (292, 0),
 (293, 0),
 (294, 0),
 (295, 0),
 (296, 1),
 (297, 0),
 (298, 0),
 (299, 0),
 (300, 1),
 (301, 0),
 (302, 0),
 (303, 0),
 (304, 0),
 (305, 1),
 (306, 0),
 (307, 0),
 (308, 1),
 (309, 0),
 (310, 0),
 (311, 0),
 (312, 0),
 (313, 0),
 (314, 0),
 (315, 0),
 (316, 0),
 (317, 1),
 (318, 0),
 (319, 0),
 (320, 1),
 (321, 0),
 (322, 0),
 (323, 0),
 (324, 0),
 (325, 0),
 (326, 0),
 (327, 0),
 (328, 0),
 (329, 0),
 (330, 1),
 (331, 0),
 (332, 0),
 (333, 0),
 (334, 1),
 (335, 1),
 (336, 0),
 (337, 0),
 (338, 0),
 (339, 0),
 (340, 0),
 (341, 1),
 (342, 0),
 (343, 0),
 (344, 1),
 (345, 0),
 (346, 0),
 (347, 0),
 (348, 0),
 (349, 0),
 (350, 0),
 (351, 0),
 (352, 0),
 (353, 0),
 (354, 0),
 (355, 0),
 (356, 0),
 (357, 0),
 (358, 0),
 (359, 0),
 (360, 0),
 (361, 0),
 (362, 1),
 (363, 0),
 (364, 0),
 (365, 0),
 (366, 0),
 (367, 0),
 (368, 0),
 (369, 0),
 (370, 0),
 (371, 0),
 (372, 1),
 (373, 0),
 (374, 0),
 (375, 1),
 (376, 0),
 (377, 0),
 (378, 0),
 (379, 1),
 (380, 0),
 (381, 1),
 (382, 0),
 (383, 0),
 (384, 0),
 (385, 0),
 (386, 0),
 (387, 0),
 (388, 1),
 (389, 1),
 (390, 0),
 (391, 0),
 (392, 1),
 (393, 0),
 (394, 0),
 (395, 0),
 (396, 0),
 (397, 0),
 (398, 1),
 (399, 1),
 (400, 0),
 (401, 0),
 (402, 0),
 (403, 0),
 (404, 1),
 (405, 0),
 (406, 0),
 (407, 0),
 (408, 0),
 (409, 0),
 (410, 0),
 (411, 0),
 (412, 0),
 (413, 1),
 (414, 1),
 (415, 0),
 (416, 0),
 (417, 0),
 (418, 0),
 (419, 0),
 (420, 1),
 (421, 0),
 (422, 0),
 (423, 0),
 (424, 0),
 (425, 0),
 (426, 0),
 (427, 1),
 (428, 0),
 (429, 0),
 (430, 0),
 (431, 0),
 (432, 0),
 (433, 0),
 (434, 0),
 (435, 0),
 (436, 0),
 (437, 0),
 (438, 0),
 (439, 0),
 (440, 0),
 (441, 0),
 (442, 0),
 (443, 0),
 (444, 1),
 (445, 0),
 (446, 0),
 (447, 1),
 (448, 0),
 (449, 1),
 (450, 0),
 (451, 0),
 (452, 0),
 (453, 0),
 (454, 0),
 (455, 0),
 (456, 0),
 (457, 1),
 (458, 0),
 (459, 0),
 (460, 0),
 (461, 0),
 (462, 0),
 (463, 0),
 (464, 0),
 (465, 1),
 (466, 0),
 (467, 0),
 (468, 1),
 (469, 0),
 (470, 0),
 (471, 0),
 (472, 0),
 (473, 0),
 (474, 0),
 (475, 0),
 (476, 0),
 (477, 0),
 (478, 1),
 (479, 1),
 (480, 0),
 (481, 0),
 (482, 0),
 (483, 0),
 (484, 0),
 (485, 1),
 (486, 0),
 (487, 0),
 (488, 1),
 (489, 0),
 (490, 0),
 (491, 0),
 (492, 0),
 (493, 0),
 (494, 0),
 (495, 0),
 (496, 0),
 (497, 0),
 (498, 0),
 (499, 0),
 (500, 0),
 (501, 1),
 (502, 0),
 (503, 0),
 (504, 0),
 (505, 1),
 (506, 0),
 (507, 0),
 (508, 0),
 (509, 0),
 (510, 0),
 (511, 1),
 (512, 1),
 (513, 0),
 (514, 0),
 (515, 0),
 (516, 0),
 (517, 0),
 (518, 0),
 (519, 0),
 (520, 0),
 (521, 0),
 (522, 0),
 (523, 0),
 (524, 0),
 (525, 0),
 (526, 1),
 (527, 0),
 (528, 0),
 (529, 1),
 (530, 0),
 (531, 0),
 (532, 1),
 (533, 1),
 (534, 0),
 (535, 0),
 (536, 0),
 (537, 1),
 (538, 0),
 (539, 0),
 (540, 1),
 (541, 0),
 (542, 0),
 (543, 0),
 (544, 0),
 (545, 0),
 (546, 0),
 (547, 0),
 (548, 0),
 (549, 0),
 (550, 0),
 (551, 0),
 (552, 0),
 (553, 0),
 (554, 0),
 (555, 0),
 (556, 1),
 (557, 0),
 (558, 0),
 (559, 0),
 (560, 0),
 (561, 0),
 (562, 0),
 (563, 0),
 (564, 0),
 (565, 0),
 (566, 0),
 (567, 0),
 (568, 0),
 (569, 0),
 (570, 0),
 (571, 0),
 (572, 0),
 (573, 0),
 (574, 0),
 (575, 0),
 (576, 0),
 (577, 0),
 (578, 1),
 (579, 0),
 (580, 0),
 (581, 1),
 (582, 1),
 (583, 1),
 (584, 0),
 (585, 0),
 (586, 0),
 (587, 0),
 (588, 0),
 (589, 1),
 (590, 1),
 (591, 0),
 (592, 0),
 (593, 0),
 (594, 0),
 (595, 0),
 (596, 0),
 (597, 0),
 (598, 0),
 (599, 0),
 (600, 0),
 (601, 0),
 (602, 0),
 (603, 0),
 (604, 1),
 (605, 0),
 (606, 1),
 (607, 0),
 (608, 0),
 (609, 0),
 (610, 0),
 (611, 0),
 (612, 1),
 (613, 0),
 (614, 0)]

In [10]:
%%sql

WITH
invoice_track AS
(
    SELECT 
        il.invoice_id,
        il.track_id,
        t.album_id
    FROM invoice_line il
    LEFT JOIN track t ON t.track_id=il.track_id    
),

invoice_album AS
(
    SELECT
        it.invoice_id,
        CASE
            WHEN
                (SELECT track_id FROM invoice_line WHERE invoice_id=it.invoice_id
                 EXCEPT
                 SELECT track_id FROM track WHERE album_id=it.album_id) IS NULL
                AND
                (SELECT track_id FROM track WHERE album_id=it.album_id
                 EXCEPT
                 SELECT track_id FROM invoice_line WHERE invoice_id=it.invoice_id) IS NULL
                THEN 1
                ELSE 0
                END AS album_purchase
    FROM invoice_track it
    GROUP BY 1
)

SELECT
    SUM(album_purchase) album_purchases,
    ROUND((SUM(album_purchase)/CAST(COUNT(*) AS FLOAT))*100,2) percentage
FROM invoice_album

Done.

[(114, 18.57)]

Although the percentage is lower than 20% of which a invoice represents an album purchase, it does not necessarily say that the profit from selling albums is lower than individual tracks purchases. Further exploration needs to be carried out.